<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <!-- <a class="navbar-brand logo-text page-scroll" href="index.html"></a> -->

    <!-- Image Logo -->
    <a class="navbar-brand logo-image" href="/"><img src="/static/images/nav_logo.png" alt="alternative"></a>

    <!-- Mobile Menu Toggle Button -->
    <div class="nav-menu-btn" data-toggle="collapse" data-target="#navbar" controls="navbar" expanded="false"
        label="Toggle navigation">
        <div class="nav-menu-burger"></div>
    </div>
    <!-- end of mobile menu toggle button -->

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#about">OM FARMLY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#partners">SAMARBETEN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#media">MEDIA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#contact">KONTAKT</a>
            </li>
        </ul>
        <span class="nav-item social-icons">
            <span class="fa-stack">
                <a target="_blank" href="https://www.linkedin.com/company/sweden-alfa-group-ab/">
                    <i class="fab fa-linkedin fa-stack-1x"></i>
                </a>
            </span>
            <span class="fa-stack">
                <a target="_blank" href="https://www.instagram.com/swedenalfagroup/">
                    <i class="fab fa-instagram fa-stack-1x"></i>
                </a>
            </span>
        </span>
    </div>
</nav> <!-- end of navbar -->