<!-- Intro -->
<div id="intro" style="background-color: #f8cde7;" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <div class="section-title">FARMLY</div>
                    <h1>Köp och sälj lantbruksprodukter direkt i din telefon.</h1>
                    <h4 style="margin-bottom:50px">
                        Farmly ger dig möjligheten att skapa direkta kontakter mellan producent och konsument, utan
                        mellanhänder.
                        Ladda ner Farmly nu och ta del av det lokala utbudet av lantbruksprodukter.</h4>
                    <div class="badge-contianer">
                        <a href="https://apple.co/3UDKyK4"><img class="badge-2"
                                src="/static/images/app-store-badge.png"></a>
                        <a href="https://play.google.com/store/apps/details?id=com.companyname.apptit"><img
                                class="badge-2" alt='Ladda ned på Google Play'
                                src="/static/images/google-play-badge.png"></a>
                    </div>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="basic-1 image-container">
                    <img class="basic-1 image-container image" src="/static/images/start.png">
                </div>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of intro -->

<div class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Card -->
                <div class="card">
                    <span class="fa-stack">
                        <i class="fas fa-binoculars fa-stack-1x"></i>
                    </span>
                    <div class="card-body">
                        <h4 class="card-title">Lönsamt</h4>
                        <p></p>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <span class="fa-stack">
                        <i class="fas fa-list-alt fa-stack-1x"></i>
                    </span>
                    <div class="card-body">
                        <h4 class="card-title">Hållbart & Lokalt</h4>
                        <p>Handel mellan granner innebär korta transporter.</p>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <span class="fa-stack">
                        <i class="fas fa-chart-pie fa-stack-1x"></i>
                    </span>
                    <div class="card-body">
                        <h4 class="card-title">Smidigt & Enkelt</h4>
                        <p>Handel med några knapptryck.</p>
                    </div>
                </div>
                <!-- end of card -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of usp -->

<!-- About -->
<div id="about" class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="basic-2 text-container">
                    <div class="section-title">För producenter</div>
                    <h2>Sälj till lokala krögare</h2>
                    <p class="p-heading">Med Farmly appen kan du enkelt skapa annonser för dina produkter och själv
                        bestämma priset.
                        Du behöver inte oroa dig för logistiken, vi tar hand om det åt dig. Vi erbjuder ett enkelt och
                        smidigt verktyg för att hjälpa dig att sälja dina produkter direkt till restauranger och andra
                        konsumenter.
                        Ladda ner Farmly appen nu och börja sälja dina produkter enkelt och smidigt.
                </div>
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="basic-2 image-container">
                    <img id="about-img-1" class="basic-2 image-container image-1" src="/static/images/feed.png">
                </div>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="basic-2 image-container">
                    <img id="about-img-2" class="basic-2 image-container image-2" src="/static/images/order.png">
                </div>
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="basic-2 text-container">
                    <div class="section-title">För köpare</div>
                    <h2>Snabb och smidig handel med lokala produkter</h2>
                    <p class="p-heading">Med vår app kan du enkelt och snabbt hitta och köpa produkter från lokala
                        lantbruksföretag i din närhet.
                        Samtidigt gör vi det enkelt för lantbruksföretagen att sälja sina produkter och hålla kontakten
                        med sina kunder.
                        Ladda ner Farmly appen nu och upplev enkel och smidig handel med lokala produkter.</p>
                </div>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div>
</div>

<!-- Partners -->
<div id="partners" class="basic-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-6">
                <div class="partner-image-container">
                    <a target="_blank" href="https://fitnessfika.se/"><img class="partner-image"
                            src="/static/images/fitness_fika.png" alt="alternative"></a>
                    <a target="_blank" href="https://rscued.se/"><img class="partner-image"
                            src="/static/images/rescued.png" alt="alternative"></a>
                    <a target="_blank" href="https://maishadeli.com/"><img class="partner-image"
                            src="/static/images/maisha.png" alt="alternative"></a>
                    <a target="_blank" href="https://www.alskute.com/"><img class="partner-image"
                            src="/static/images/alskute_black.png" alt="alternative"></a>
                    <a target="_blank" href="https://ohmungood.com/"><img class="partner-image"
                            src="/static/images/mungood.png" alt="alternative"></a>
                </div>
            </div> <!-- end of col -->
            <div class="col-lg-6 col-xl-6">
                <div class="text-container" style="margin-top:10%;margin-bottom:10%">
                    <div class="section-title">SAMARBETEN</div>
                    <h2>Allting gott - gör gott...</h2>
                    <p>På Farmly samarbetar vi med ett antal utvalda producenter från livsmedelsbranschen i Sverige som
                        är kända för att producera högkvalitativa och hållbara produkter.
                        Genom vårt samarbete med dessa producenter kan vi erbjuda våra användare en plattform där de kan
                        köpa och sälja lokalt producerade produkter som är både av hög kvalitet och hållbara.
                        Vi är stolta över att kunna bidra till en hållbar och lokal ekonomi genom vårt samarbete med
                        dessa producenter.</p>
                    <span class="hexagon"></span>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of counter -->
<!-- end of partners -->

<!--Media-->
<div id="media">
    {{> card-media }}
</div>
<!-- end of media -->

<!--Team-->
<div id="team">
    {{> card-team }}
</div>
<!-- end of team -->

<!-- Contact -->
<div id="contact" class="form-2" style="background-color:#f8cde7">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <div class="section-title">KONTAKT</div>
                    <h2>Kontakta oss</h2>
                    <p>Kontakta oss gärna om du har några frågor eller funderingar kring vår plattform Farmly.
                        Vi finns tillgängliga för dig via telefon, mejl eller genom vårt kontaktformulär.</p>
                    <ul class="list-unstyled li-space-lg" style="display:flex; flex-direction:column">
                        <li class="list-block"><i class="fas fa-map-marker-alt"></i>Fakultetsgatan 1, 702 81
                            Örebro
                        </li>
                        <li class="list-block"><i class="fas fa-phone"></i><a href="tel:003024630820">+46 72
                                542 40
                                36</a></li>
                        <li class="list-block"><i class="fas fa-envelope"></i><a
                                href="mailto:info@farmly.nu">info@farmly.se</a></li>
                    </ul>
                    <span class="fa-background fa-stack">
                        <a target="_blank" href="https://www.linkedin.com/company/sweden-alfa-group-ab/">
                            <i class="fab fa-linkedin-in fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-background fa-stack">
                        <a target="_blank" href="https://www.instagram.com/swedenalfagroup/">
                            <i class="fab fa-instagram fa-stack-1x"></i>
                        </a>
                    </span>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <!-- Contact Form -->
                <form action="/send" method="post" id="contactForm" data-toggle="validator" data-focus="false">
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="name" name="cname" required>
                        <label class="label-control" for="cname">Namn</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control-input" id="email" name="cemail" required>
                        <label class="label-control" for="cemail">E-post</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control-input" id="email" name="cphone" required>
                        <label class="label-control" for="cphone">Telefon</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control-input" id="message" name="cmessage" required></textarea>
                        <label class="label-control" for="cmessage">Meddelande</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group checkbox">
                        <div class="help-block with-errors"></div>
                    </div>
                    <button type="submit" class="form-control-submit-button">SKICKA MEDDELANDE</button>
                </form>
                <!-- end of contact form -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of form-2 -->
<!-- end of contact -->