<div id="login" class="basic-1" style="background-color:#f8cde7">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form action="/post-login" method="post" id="loginForm" data-toggle="validator" data-focus="false">
                    <div class="form-group">
                        <input type="email" class="form-control-input" id="email" name="cemail" required>
                        <label class="label-control" for="cemail">E-post</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control-input" id="name" name="cpassword" required>
                        <label class="label-control" for="cpassword">Lösenord</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group checkbox">
                        <div class="help-block with-errors"></div>
                    </div>
                    <button type="submit" class="form-control-submit-button">LOGGA IN</button>
                </form>
            </div>
        </div>
    </div>
</div>