<div id="policy" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <div class="section-title">Integritetspolicy</div>
                    <h1>GDPR och personlig integritet</h1>
                    <p>Eftersom Sweden Alfa Group behandla er data, upplyser vi dig om att din personliga
                        integritet är den viktigaste frågan i hanteringen av personuppgifter och att vi behandlar era
                        personuppgifter på ett pålitligt, legitimt och säkert sätt.
                        <br />
                        <br />
                        Sedan 25 maj 2018 gäller Dataskyddsförordningen GDPR (General Data Protection
                        Regulation) i hela Europeiska unionen (EU) och andra länder som frivilligt ansluter sig till
                        och tillkännager att de följer den.
                        GDPR syftar till att säkerställa starka och enhetliga dataskyddsstandarder för att skydda
                        individer och deras data.
                        <br />
                        <br />
                        Vårt mål är att i de här sammanhangen vara en pålitlig partner till dig. Vi ber dig därför att
                        läsa detta dokument och därmed godkänna vår policy avseende hanteringen av dina
                        personliga uppgifter.
                    </p>
                    <br />
                    <h4>Vår integritetspolicy</h4>
                    <p>Denna integritetspolicy beskriver hur Sweden Alfa Group AB med varumärket Farmly
                        (organisationsnummer 559326-5274) behandlar dina personuppgifter inom ramen för vår
                        verksamhet.
                        Med "personuppgifter" avses all information som direkt eller indirekt kan kopplas till en
                        levande fysisk person. Var vänlig och läs denna Integritetspolicy noga för att förstå hur och
                        för vilka ändamål vi behandlar dina personuppgifter.
                        Vi behandlar dina personuppgifter när du använder våra tjänster på det vis som framgår
                        nedan. Vi värnar om din integritet och följer vid var tid tillämplig lagstiftning som syftar
                        till att skydda dig som individ.
                        <br />
                        <br />
                        Denna integritetspolicy anger grunden för hur vi behandlar de personuppgifter du lämnar till
                        oss eller som vi samlar in om dig när du använder våra tjänster.
                        Vi eftersträvar att upprätthålla en hög nivå av skydd för den personliga integriteten. Sweden
                        Alfa Group behandlar personuppgifter främst för att administrera, tillhandahålla, utveckla
                        och underhålla våra tjänster, hantera dina beställningar, optimera din upplevelse och för att
                        kommunicera med dig.
                        <br />
                        <br />
                        Om du tillhandahåller oss personuppgifter om andra personer är du ansvarig för att Sweden
                        Alfa Group får behandla personuppgifterna i enlighet med denna integritetspolicy.
                        Sweden Alfa Group behandlar endast dina personuppgifter i enlighet med tillämplig lag.
                        I vår app Farmly samlar vi personuppgifter direkt från dig då du använder tjänsterna genom
                        att exempelvis lägga upp varor till försäljning eller beställa varor i appen.
                        Vi kan även mottaga personuppgifter om dig från samarbetspartners men lämnar aldrig dina
                        personuppgifter vidare till någon ytterligare part.
                        Vi använder olika metoder för att samla in personuppgifter om dig. Några av dessa kan vara
                        cookies, web beacons, kundundersökningar och kundservice.
                        Beroende på vilken tjänst du använder kan insamlingsmetoden och syftet med behandlingen
                        variera.
                        <br />
                        <br />
                        Sweden Alfa Group kommer att behandla dina personuppgifter endast för de ändamål som
                        beskrivs för dig i samband med de tjänster du använder.
                        När det enligt lag krävs att vi inhämtar ett samtycke från dig, så kommer vi inhämta ett
                        samtycke innan behandling sker.
                        <br />
                        <br />
                        Du har rätt att få utdrag av all information som finns om dig hos oss. Utdrag levereras
                        elektroniskt i ett läsbart format. Du har också rätt att be oss uppdatera felaktig information
                        eller komplettera information som är bristfällig.
                        När som helst kan du be att uppgifterna som avser dig raderas. Det finns få undantag till
                        rätten till radering, som till exempel om det ska behållas för att vi måste uppfylla en rättslig
                        förpliktelse (exempelvis enligt bokföringslagen).
                    </p>
                    <br />
                    <h4>Personuppgiftsansvarig och personuppgiftsbiträde</h4>
                    <p>Sweden Alfa Group AB är ansvarig för lagring och behandling av personuppgifter i vår app
                        och i vår erbjudande- och marknadsföringsverksamhet och ser till att reglerna efterföljs.
                        I appen Farmly är vi att betrakta som personuppgiftsbiträde.</p>
                </div>
            </div>
        </div>
    </div>
</div>