<div id="terms" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <div class="section-title">Användarvillkor</div>
                    <h1>Användarvillkor köpare</h1>
                    <p>Farmlys användarvillkor för tjänster till Köpare som förmedlas av Sweden Alfa
                        Group AB org.nr 559326-5274.</p>
                    <br />
                    <h4>1. Allmänna villkor</h4>
                    <p>Dessa allmänna villkor (”Villkoren”) gäller mellan dig som Kund (”Kund”/”Ni”) och
                        Sweden Alfa Group AB (”Sweden Alfa Group AB”/”Vi”). Det är ett juridiskt bindande
                        avtal. Villkoren avser och gäller vid användandet av tjänst Farmly
                        (”Tjänsten”/”Farmly”) och avser försäljning och profilering via Farmlys applikationer.
                        När Ni som vill ansluta till Tjänsten samt när ni beställer varor ska Ni acceptera
                        Villkoren som innehåller de skyldigheter och rättigheter Vi respektive Ni har mot
                        varandra.
                        När Ni godkänner Villkoren samt skapar ett konto intygar Ni att Ni har tillstånd att
                        ingå i detta juridiskt bindande avtal vilket som har rättsverkan mot er. Ni intygar även
                        att Ni har läst och förstått Villkoren samt integritetspolicyn.
                        Villkoren ämnar till att förklara hur Ni som Kunder får använda Tjänsten och vilka
                        skyldigheter samt rättigheter som Ni ska efterleva vid användning av Tjänsten.</p>
                    <br />
                    <p style="font-weight:bold">2. Beskrivning av Tjänsten</p>
                    <p>Farmly är en digital handelsplats för närproducerade livsmedel. Tjänsten ämnar att
                        erbjuda kunder en ny plattform för att handla närproducerade livsmedel.</p>
                    <br />
                    <p style="font-weight:bold">2.1 Skyldigheter och villkor för att få använda Tjänsten</p>
                    <p> För att använda Tjänsten behöver Ni vara ett Aktiebolag. Ekonomisk förening eller
                        egen firma. Företaget behöver även vara belägrat inom Sverige</p>
                    <br />
                    <p style="font-weight:bold">2.2 Registrering för användandet av Tjänsten</p>
                    <p>Åtkomst till Farmly ges via att Ni registrerar ett konto och accepterar Villkoren. Ett
                        konto för köpare kan skapas genom att Ni uppger köpare under konto registreringen
                        via Farmlys-applikationer.
                        Informationen som Ni behöver ange för att slutföra registreringen använder Vi för att
                        tillgodose funktioner inom ramen för Tjänsten såsom att genomföra köp.
                        Det är er skyldighet att uppgifter som Ni anger vid registrering är sanna och korrekta
                        och hålls uppdaterade under tiden Tjänsten brukas.</p>
                    <p style="font-weight:bold">2.3 Produktutbud</p>
                    <p>Åtkomst till Farmly ges via att Ni registrerar ett konto och accepterar Villkoren. Ett
                        konto för köpare kan skapas genom att Ni uppger köpare under konto registreringen
                        via Farmlys-applikationer.
                        Informationen som Ni behöver ange för att slutföra registreringen använder Vi för att
                        tillgodose funktioner inom ramen för Tjänsten såsom att genomföra köp.
                        Det är er skyldighet att uppgifter som Ni anger vid registrering är sanna och korrekta
                        och hålls uppdaterade under tiden Tjänsten brukas.</p>
                    <p style="font-weight:bold">2.4 Produktinnehåll</p>
                    <p>I Farmly-appen presenteras de varor som producenterna lagt ut till försäljning.
                        Säljande producent är ensamt ansvarig för att informationen som presenteras i dess
                        annons innehåller riktig och korrekt information. Vi tar varken ansvar för
                        informationen som presenteras om varorna, dess innehåll eller kvalité.</p>
                    <p style="font-weight:bold">2.5 Livsmedelshantering</p>
                    <p>De livsmedel som Producenterna erbjuder är producerade och förpackade i enlighet
                        med riktlinjer från Livsmedelsverket. Alla produkter tillverkas i anläggningar som har
                        godkänts av verket. Budet som transporterar varorna är godkända av
                        Livsmedelsverket. Vi har inget ansvar i livsmedelshanteringen av produkter inom
                        Tjänsten.</p>
                    <br />
                    <p style="font-weight:bold">3. Användandet av Tjänsten</p>
                    <p style="font-weight:bold">3.1 Beställning</p>
                    <p>I Farmly-appen kan beställningar av produkter genomföras. Valda produkter
                        presenteras i kassan och kan ändras fram tills att Ni slutfört beställningen. Skulle en
                        produkt inte längre vara tillgänglig för köp när Ni slutför en beställning kommer
                        beställningen att stoppas.
                        Farmly ansvarar inte för att Ni valt rätt produkter till en beställning. Ni som Kund
                        behöver säkerställa att önskvärda produkter inkluderas i en beställning innan den
                        slutförs.
                        När en beställning är inkommen skickas ett bekräftelsemail till registrerad mailadress
                        under ert konto. I Farmly-appen under avsnitt “Ordrar” kommer Ni kunna se och följa
                        er beställning.</p>
                    <br />
                    <p style="font-weight:bold">3.2 Leveranser</p>
                    <p>Leveransdatumet för lagda beställningar presenteras under avsnitt “Ordrar” i
                        Farmly-appen. På leveransdagen kommer Ni av budet få information om vilken tid
                        leveransen förväntas inträffa. Leveransadressen som uppgavs vid slutförandet av en
                        beställning är den adress produkterna kommer att levereras till. Ni ansvarar för att
                        rätt leveransadress har angivits vid beställningstillfället. Skulle fel adress ha angivits
                        kan Ni kontakta Farmlys support.</p>
                    <br />
                    <p style="font-weight:bold">3.3 Leveranser</p>
                    <p>Innan ett leveranstillfälle ska ordrarna från kund förberedas av Producent till
                        transport. Produkterna som ingår i de ordrar som ska levereras behöver omförslutas
                        i ett transport tåligt och stapelbart emballage. Varje kolli får maximalt ha en totalvikt
                        på 15 kg.
                        Varje order får en unik fraktsedel som av Producent ska fästas på emballaget. Om
                        en och samma order paketeras i flera kollin ska samma fraktsedel fästas på paketen
                        tillhörande ordern.
                        Om ordrar vid aviserat leveranstillfälle inte är redo för transport eller hanterade enligt
                        aviseringarna ovan kommer beställningen att makuleras. Innan upphämtning
                        kommer budet att kontakta dig som Producent för att meddela om sin ankomst. Om
                        Producenten inte fullföljer beställningar eller följer paketeringsistruktionerna riskerar
                        denne att bli avstängd från Tjänsten.</p>
                    <br />
                    <p style="font-weight:bold">4. Betalningsvillkor</p>
                    <p style="font-weight:bold">4.1 Priser på produkter</p>
                    <p>Priser för produkter anges i SEK och priserna sätts enskilt av
                        säljaren. All försäljning i appen sker exklusive moms. Farmly
                        ansvarar inte för prissättningen för annonserade produkter av anslutna producenter
                        inom Tjänsten.</p>
                    <br />
                    <p style="font-weight:bold">4.2 Pris för Tjänsten</p>
                    <p>Det utgår inga kostnader att registrera sig som användare inom Farmly.</p>
                    <br />
                    <p style="font-weight:bold">4.3 Betalning</p>
                    <p>All betalning sker via faktura. I samband med att Ni genomför en beställning åtar Ni
                        er att betala för det produkter som ingår i beställningen genom den faktura Vi skickar
                        till er. Genomförda beställningar faktureras löpande med 30 dagars betalningsvillkor.
                        Utöver produkterna som beställts utgår en fakturaavgift per faktura samt en
                        fraktavgift per leverans. Var 10:e leverans är gratis.
                        I samband med att Ni godkänner Villkoren godkänner Ni de avgifter som inom
                        Villkoren har förmedlats.</p>
                    <br />
                    <p style="font-weight:bold">5. Fel varor, reklamation, ångerrätt och ändring/avbokning</p>
                    <br />
                    <p style="font-weight:bold">5.1 Fel varor</p>
                    <p>Skulle Ni sakna eller fått felaktiga varor utifrån lagd beställning kan Ni kontakta
                        Farmlys support för hjälp i hanteringen.</p>
                    <br />
                    <p style="font-weight:bold">5.2 Reklamation</p>
                    <p>För att göra ett reklamationsanspråk kontaktar Ni Farmlys support som kommer att
                        förmedla ärendet vidare till producenten. Upptäcks fel på produkter från levererad
                        beställning ska Ni återkomma snarast till Farmlys support. Reklamationsanspråk kan
                        göras senast 1 vecka efter att ha mottagit varorna.
                        Enligt KöpL §17 skall mottagen vara stämma överens ifråga om art, mängd, kvalitet
                        och andra egenskaper. Om mottagen vara inte avviker från KöpL §17 har du som
                        köpare möjlighet att ange varan som felaktig. För att ange varan som felaktig skall
                        du kontakta Farmlys support. Om det går att styrka att produkten kan anses som
                        felaktig stryks antingen hela din faktura eller delar av den. Om det inte går att styrka
                        kommer du få betala fullt belopp. Om du anger avvikelser som ej anses vara
                        sanningsenliga vid flertalet tillfällen riskerar du att stängas av från Tjänsten.</p>
                    <br />
                    <p style="font-weight:bold">5.3 Avbeställning</p>
                    <p>Då handeln via appen sker mellan företag utgår ångerrätten och tillämpad lag är
                        Köplagen (1990:931) (KöpL) och ångerrätten utgår. Du som Kund har möjlighet att
                        avbeställa pågående order enligt vad producenten anger som sista dag för
                        avbeställningsdatum. Om du inte avbeställer eventuell vara i enlighet med det
                        angivna datumet kommer beställningen att fortgå.</p>
                    <br />
                    <p style="font-weight:bold">5.4 Ändring av order</p>
                    <p>Efter lagd beställning kommer producenten förbereda köpta produkter till leverans.
                        Om Ni skulle upptäcka ett fel i lagd beställning kan ni kontakta Farmlys support.
                        Producenten och Vi avgör om ändring eller avbokning av lagd beställning är möjlig
                        att genomföra.</p>
                    <br />
                    <p style="font-weight:bold">6. Ansvarsbegränsning i Förhållande till Producenter och Tredje Part</p>
                    <p>Produkter som inom Tjänsten annonseras av producenter är Vi inte ansvariga för.
                        Varje enskild producent är ansvarig för vilka produkter som annonseras, kvalitén på
                        produkterna som utbjuds, att annonserna innehåller korrekt och riktig information
                        eller ärenden som berör reklamation eller ångerrätt. Vi ansvarar för att upprätthålla
                        Tjänstens tekniska funktion.</p>
                    <br />
                    <p style="font-weight:bold">7. Avslutande av Konto</p>
                    <p>Om Ni inte längre vill använda Tjänsten kan Ni avsluta ert konto via Farmly-appen.
                        Innan ert konto kan avslutet behöver samtliga pågående ordrar vara avslutande. Ni
                        kan inte avsluta ert konto om det finns en aktiv beställning.
                        I samband med att Ni väljer att avsluta ert konto tas era uppgifter bort och/eller
                        anonymiseras, förutom de uppgifter som Vi enligt lag behöver spara.</p>
                    <br />
                    <p style="font-weight:bold">8. Kundtjänst</p>
                    <p>Farmlys support finns för att ge stöd i användningen av tjänsten och hjälp vid frågor
                        eller problem. I ärenden som berör producentens produkter kommer Vi föra vidare
                        informationen till producent och vid behov lämna över ärendet till producenten.</p>
                    <br />
                    <p style="font-weight:bold">9. Force Majeure</p>
                    <p>Vi är befriade från både ansvar och skyldighet att ersätta skada om potentiell skada
                        har uppstått utanför vår kontroll. Vi tar inget ansvar för händelser och
                        händelseförlopp orsakade av väderstörningar, naturkatastrofer, ändrade regelverk
                        eller lagstiftning, ej heller för någon annan situation som uppstår på grund av
                        händelser utanför vår kontroll.</p>
                    <br />
                    <p style="font-weight:bold">10. Cookies</p>
                    <p>För att förbättra användarupplevelsen använder vi oss av cookies inom Farmlys
                        applikationer.</p>
                    <br />
                    <p style="font-weight:bold">11. Personuppgifter</p>
                    <p>Sweden Alfa Group AB är personuppgiftsansvarig för behandlingen av Kundens
                        personuppgifter. De personuppgifter Vi behandlar för att kunna fullborda Tjänstens
                        funktioner. För mer information kring behandling samt insamling av personuppgifter
                        återfinns i vår Integritetspolicy.</p>
                    <br />
                    <p style="font-weight:bold">12. Ändring av tjänsten och villkoren</p>
                    <p>Vi förbehåller oss rätten att genomföra förändringar i Villkoren utan att inhämta
                        godkännande från Kunden. Uppdateringar i villkoren kommer att publiceras i
                        Farmly-appen och på hemsidan samt kommuniceras via mail till Kunden.
                        Förändringar i Villkoren börjar gälla en vecka efter att de publicerats.</p>
                    <br />
                    <p style="font-weight:bold">13. Immateriella rättigheter</p>
                    <p>Ni får inte utan skriftligt medgivande av Sweden Alfa Group AB använda, kopiera,
                        ändra eller på annat sätt hantera programvara eller annat material som hör till
                        Tjänsten, inte heller överlåta eller upplåta rätt till sådan programvara eller material till
                        annan.</p>
                    <br />
                    <p style="font-weight:bold">14. Tvistlösning och tillämplig lag</p>
                    <p>Givetvis hoppas Vi att ingen tvist uppstår utan att vi kan hitta en direkt lösning med
                        dig som Kund. Tvister som uppstår ska slutligt avgöras av svensk domstol och
                        svensk rätt ska vara gällande.</p>
                </div>
            </div>
        </div>
    </div>
</div>