<div id="terms" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <div class="section-title">Användarvillkor</div>
                    <h1>Användarvillkor producent</h1>
                    <p>Farmlys användarvillkor för tjänster till Producenter som förmedlas av Sweden Alfa
                        Group AB org.nr 559326-5274.</p>
                    <br />
                    <h4>1. Allmänna villkor</h4>
                    <p>Dessa allmänna villkor (”Villkoren”) gäller mellan dig som Producent
                        (”Producent”/”Ni”) och Sweden Alfa Group AB (”Sweden Alfa Group AB”/”Vi”). Det är
                        ett juridiskt bindande avtal. Villkoren avser och gäller vid användandet av tjänst
                        Farmly (”Tjänsten”/”Farmly”) och avser försäljning och profilering via Farmlys
                        applikationer.
                        När Ni som Producent vill ansluta till Tjänsten samt när ni publicerar varor till
                        försäljning ska Ni acceptera Villkoren som innehåller de skyldigheter och rättigheter
                        Vi respektive Ni har mot varandra.
                        När Ni godkänner Villkoren samt skapar ett konto intygar Ni att Ni har tillstånd att
                        ingå i detta juridiskt bindande avtal vilket som har rättsverkan mot er. Ni intygar även
                        att Ni har läst och förstått Villkoren samt integritetspolicyn.
                        Villkoren ämnar till att förklara hur Ni som Producent får använda Tjänsten och vilka
                        skyldigheter samt rättigheter som Ni ska efterleva vid användning av Tjänsten.</p>
                    <br />
                    <p style="font-weight:bold">2. Beskrivning av Tjänsten</p>
                    <p>Farmly är en digital handelsplats för närproducerade livsmedel. Tjänsten ämnar att
                        erbjuda Producenter en ny plattform för försäljning av livsmedel med högre
                        avkastning och mot nya kunder som är anslutna till Tjänsten.</p>
                    <br />
                    <p style="font-weight:bold">2.1 Skyldigheter och villkor för att få använda Tjänsten</p>
                    <p> För att använda Tjänsten behöver Ni vara ett Aktiebolag. Ekonomisk förening eller
                        egen firma. Företaget behöver även vara belägrat inom Sverige.</p>
                    <br />
                    <p style="font-weight:bold">2.2 Registrering för användandet av Tjänsten</p>
                    <p>Åtkomst till Farmly ges via att Ni registrerar ett konto och accepterar Villkoren. Ett
                        producent konto i Farmly kan skapas genom att Ni uppger säljare under konto
                        registreringen via Farmlys-applikationer.
                        Informationen som Ni behöver ange för att slutföra registreringen använder Vi för att
                        tillgodose funktioner inom ramen för Tjänsten såsom att skicka betalningar till er.
                        Det är er skyldighet att uppgifter som Ni anger vid registrering är sanna och korrekta
                        och hålls uppdaterade under tiden Tjänsten brukas.</p>
                    <br />
                    <p style="font-weight:bold">3. Användandet av Tjänsten</p>
                    <p style="font-weight:bold">3.1 Försäljning</p>
                    <p>Ni som Producent ansvarar för att de annonser som ni publicerar inom tjänsten
                        innehåller både riktig och korrekt information.
                        Varje annons ska innehålla en bild som representerar varan till försäljning. Ni
                        behöver ange hur varan eller varorna inom annonsens ska säljas, då utifrån
                        alternativen styck, lösvikt eller bit/förpackning. Även pris, tillgänglig mängd, vikt samt
                        en produktbeskrivning för varan eller varorna till försäljning krävs för att publicera en
                        annons. Den vikt som anges på en produkt som publiceras i Farmly-appen får
                        maximalt ha en differens på +/- 10% gentemot den verkliga vikten.
                        Vidare behöver Ni ange en upphämtningsadress till en annons för vart beställda
                        varor ska hämtas.
                        Ni ansvarar för att mängden varor i en annons publicerad inom Farmly-appen faktiskt
                        motsvarar den mängd som Ni har tillgängligt för försäljning.
                        Om Ni som Producent publicerar annonser med vilseledande eller inkorrekt
                        information riskerar Ni avstängning från Tjänsten.</p>
                    <br />
                    <p style="font-weight:bold">3.2 Beställningar</p>
                    <p>Lagda beställningar från kunder på annonser som Ni publicerat visas i Farmly-appen
                        och kommuniceras via mail. Ordrar som skapas utifrån inkomna beställningar
                        behöver Ni acceptera och för varje order uppge ett antal av kollin som ordern
                        kommer att paketeras i. Skulle det inträffa avvikelser som leder till att Ni inte kan
                        fullfölja en beställning kan den nekas. Då ni väljer att neka en order skall ni meddela
                        oss om anledningen till det. Om ordrar nekas vid upprepade tillfällen förbehåller vi
                        oss rätten att avsluta tillgång till Tjänsten för Producenter.</p>
                    <br />
                    <p style="font-weight:bold">3.3 Leveranser</p>
                    <p>Innan ett leveranstillfälle ska ordrarna från kund förberedas av Producent till
                        transport. Produkterna som ingår i de ordrar som ska levereras behöver omförslutas
                        i ett transport tåligt och stapelbart emballage. Varje kolli får maximalt ha en totalvikt
                        på 15 kg.
                        Varje order får en unik fraktsedel som av Producent ska fästas på emballaget. Om
                        en och samma order paketeras i flera kollin ska samma fraktsedel fästas på paketen
                        tillhörande ordern.
                        Om ordrar vid aviserat leveranstillfälle inte är redo för transport eller hanterade enligt
                        aviseringarna ovan kommer beställningen att makuleras. Innan upphämtning
                        kommer budet att kontakta dig som Producent för att meddela om sin ankomst. Om
                        Producenten inte fullföljer beställningar eller följer paketeringsistruktionerna riskerar
                        denne att bli avstängd från Tjänsten.</p>
                    <br />
                    <p style="font-weight:bold">3.4 Reklamation</p>
                    <p>Det är i första hand Producenten som ansvarar för reklamationsanspråk. Om felet på
                        produkten eller produkterna som uppges av kund inte kan härledas till transport eller
                        till kunden själv innebär det att Ni som Producent inte får ersättning för de felaktiga
                        produkterna. Om Ni som Producent har möjlighet att ersätta varorna och kunden är
                        villig att få nya varor inkommer ersättning enligt Villkoren.
                        Reklamationsanspråk från kund som inkommer till Farmly-supporten kommer att
                        vidarebefordras till aktuell Producent. Om stöd eller hjälp önskas till
                        reklamationsprocessen kan Ni kontakta Farmlys-support vars kontaktuppgifter
                        återfinns i Farmly-appen.</p>
                    <br />
                    <p style="font-weight:bold">3.8 Ångerrätt från Köpare</p>
                    <p>Då handeln via appen sker mellan företag utgår ångerrätten och tillämpad lag är
                        Köplagen (1990:931) (KöpL) och ångerrätten utgår. Ni som producent behöver i era
                        publicerade annonser ange vad som är sista dag för köpare att avbeställa eventuella
                        varor.</p>
                    <br />
                    <p style="font-weight:bold">4. Avgifter</p>
                    <p>Det kostar inget att ladda ned Farmly-appen eller att ansluta sig till Tjänsten. För all
                        försäljning som sker inom Tjänsten utgår en procentuell avgift till Farmly av totalbeloppet på
                        en slutförd beställning. All försäljning i appen sker exklusive moms.
                        Avgiften dras automatiskt på utbetalningen till Producent på
                        slutförda beställningar från kund. Det tillkommer även en serviceavgift.
                        Ni bär ansvaret för produkterna fram att samtliga kollin överlämnas till budet vid
                        leveranstillfället. Skulle fel inträffa under leverans kommer budet att kompensera
                        värdet på beställningen. Skulle det saknas varor kan Farmly komma att kontakta Er
                        för att hitta en lösning. Ifall Farmly bedömer att kunden inte fått beställda varor eller
                        att det saknas produkter i en beställning förbehåller vi oss rätten till att inte betala ut
                        full ersättning till dig som Producent.</p>
                    <br />
                    <p style="font-weight:bold">5. Skyldigheter under hanteringen av en order</p>
                    Som Producent står Ni ansvariga för:
                    <ul>
                        <li>Att publicerade annonser innehåller riktig och korrekt information.</li>
                        <li>Fel, skador eller sjukdomar på produkter som sålts till Kunder.</li>
                        <li>Att produkter är redo för leverans vid aviserat leveranstillfälle.</li>
                        <li>Att produkter inför leverans är paketerade med ett transport tåligt och
                            stapelbart emballage.</li>
                        <li>Att korrekt fraktsedel fästs på varje enskilt kolli tillhörande en order innan
                            leverans.</li>
                        <li>Att inte neka ordrar frekvent eller i onödan. Annonser som inom Tjänsten är
                            publicerade och har en tillgänglig mängd ska vara aktuella för köp av Kunder.</li>
                        <li>Reklamationer från Kunder.</li>
                        <li>Att alltid sträva efter en bra kundupplevelse.</li>
                        <li>Att följa och efterleva Villkoren.</li>
                    </ul>
                    <p>Om Ni som producent bryter Villkoren för användning av Tjänsten riskerar Ni
                        avstängning.</p>
                    <br />
                    <p style="font-weight:bold">6. Ansvarsbegränsning</p>
                    <p>Vi ansvarar för att underhålla, vidareutveckla och säkerställa att Tjänsten fungerar.
                        Vi ansvarar inte för de produkter som Ni som Producent publicerar inom Farmly.
                        Exempel på vad Vi inte ansvarar för är:</p>
                    <ul>
                        <li>Informationen som Ni anger i en publicerad annons.</li>
                        <li>Att budet ankommer på aviserat leveranstillfälle.</li>
                        <li>Reklamationsanspråk på produkter Ni sålt till Kunder.</li>
                        <li>Era produkter och dess kvalité.</li>
                    </ul>
                    <br />
                    <p style="font-weight:bold">7. Avsluta konto</p>
                    <p>Om Ni inte längre vill använda Tjänsten kan Ni avsluta ert konto via Farmly-appen.
                        Innan ert konto kan avslutet behöver samtliga pågående ordrar vara avslutande. Ni
                        måste alltid fullfölja en beställning tills den blivit levererad.
                        I samband med att Ni väljer att avsluta ert konto tas era uppgifter bort, förutom de
                        uppgifter som Vi enligt lag behöver spara.</p>
                    <br />
                    <p style="font-weight:bold">8. Personuppgifter</p>
                    <p>Sweden Alfa Group AB är personuppgiftsansvarig för behandlingen av Kundens
                        personuppgifter. De personuppgifter Vi behandlar för att kunna fullborda Tjänstens
                        funktioner. För mer information kring behandling samt insamling av personuppgifter
                        återfinns i vår Integritetspolicy.</p>
                    <br />
                    <p style="font-weight:bold">9. Immateriella rättigheter</p>
                    <p>Villkoren innebär inte att upphovsrätt eller andra immateriella rättigheter överlåts till
                        Producent. Ni får inte utan skriftligt medgivande av Sweden Alfa Group AB använda,
                        kopiera, ändra eller på annat sätt hantera programvara eller annat material som hör
                        till Tjänsten, inte heller överlåta eller upplåta rätt till sådan programvara eller material
                        till annan.
                        Som Producent har Ni tillstånd att utan skriftligt godkännande profilera er med
                        Farmlys logga, Tjänstens namn samt material som återfinns på vår hemsida under
                        “Pressmaterial” enligt riktlinjerna över samarbetet mellan Producent och Farmly.</p>
                    <br />
                    <p style="font-weight:bold">10. Force Majeure</p>
                    <p>Vi är befriade från både ansvar och skyldighet att ersätta skada om potentiell skada
                        har uppstått utanför vår kontroll. Vi tar inget ansvar för händelser och
                        händelseförlopp orsakade av väderstörningar, naturkatastrofer, ändrade regelverk
                        eller lagstiftning, ej heller för någon annan situation som uppstår på grund av
                        händelser utanför vår kontroll.</p>
                    <br />
                    <p style="font-weight:bold">11. Uppdatering av villkoren</p>
                    <p>Vi förbehåller oss rätten att genomföra förändringar i Villkoren utan att inhämta
                        godkännande från Producent. Uppdateringar i villkoren kommer att publiceras i
                        Farmly-appen och på hemsidan samt kommuniceras via mail till Producent.
                        Förändringar i Villkoren börjar gälla en vecka efter att de publicerats.</p>
                    <br />
                    <p style="font-weight:bold">12. Tvistlösning och tillämplig lag</p>
                    <p>Givetvis hoppas Vi att ingen tvist uppstår utan att vi kan hitta en direkt lösning med
                        dig som producent. Tvister som uppstår ska slutligt avgöras av svensk domstol och
                        svensk rätt ska vara gällande.</p>
                </div>
            </div>
        </div>
    </div>
</div>