<div id="policy" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <div class="section-title">Integritetspolicy/ Privacy policy</div>
                    <h3>GDPR och personlig integritet</h3>
                </div>
            </div>
        </div>
    </div>
</div>